
<div id="main">

    <div id="square">
    <% count = 0 %>
    <% FOREACH char IN faces %>
        <span class="letter"><% char %></span>
        <% count = count + 1 %>
        <% IF ( count % 4 == 0 ) %>
        <br />
        <% END %>
    <% END %>
    </div>

    <div id="words">

    <div id="inputbox">
    <input type="text" id="input" name="input" length="50" />
    </div>

    <div id="wordlist"></div>

    </div>

</div>

